@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --text-color: 255, 255, 255;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--text-color));
}

@layer base {
  h1 {
    @apply mx-0 my-[0.67em] block font-bold text-6xl;
  }
  h2 {
    @apply mx-0 my-[0.83em] block font-bold text-4xl;
  }
  h3 {
    @apply mx-0 my-[1em] block font-bold text-3xl;
  }
  p, ul {
    @apply block text-2xl leading-relaxed tracking-wide;
  }
  a {
    @apply underline decoration-dotted hover:text-info
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
